testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070104_minoccurs_and_maxoccurs/Neg_070104_minoccurs_and_maxoccurs_002/Neg_070104_minoccurs_and_maxoccurs_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Neg_070104_minoccurs_and_maxoccurs_002"
    xmlns:ns="schema:Neg_070104_minoccurs_and_maxoccurs_002">
	<!-- The length restricted case: --> 
	<complexType name="e15c"> 
		<sequence> 
			<element name="foo" type="integer" minOccurs="5" maxOccurs="10"/> 
			<element name="bar" type="float"/> 
		</sequence> 
	</complexType> 
	<element name="ElemE15c" type="ns:e15c" />
</schema>