testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070602_complex_content/07060202_derived_by_restriction/Pos_07060202_derived_by_restriction_001/Pos_07060202_derived_by_restriction_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_07060202_derived_by_restriction_001"
    xmlns:ns="schema:Pos_07060202_derived_by_restriction_001">
  <complexType name="c1">
    <complexContent>
      <restriction base="anyType">
        <sequence>
           <element name="size" type="nonPositiveInteger"/>
           <element name="unit" type="NMTOKEN"/>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <element name="e1" type="ns:c1"/>
</schema>