testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0501_namespaces/050104_attributes/Pos_050104_attributes_of_the_xsd_schema_element_005/Pos_050104_attributes_of_the_xsd_schema_element_005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050104_attributes_of_the_xsd_schema_element_005"
  xmlns:ns="schema:Pos_050104_attributes_of_the_xsd_schema_element_005"
  attributeFormDefault="qualified">	
	<element name="MyType">
		<complexType>			
			<sequence>				
				<element name="item" type="string" />
			</sequence>
			<attribute name="attr" type="string" />
		</complexType>
	</element>
</schema>
