testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070602_complex_content/07060202_derived_by_restriction/Pos_07060202_derived_by_restriction_002/Pos_07060202_derived_by_restriction_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_07060202_derived_by_restriction_002"
    xmlns:ns="schema:Pos_07060202_derived_by_restriction_002">
	<complexType name="complex-base-empty"/>

	<complexType name="complex-restr-complex">
		<complexContent>
			<restriction base="ns:complex-base-empty" />
		</complexContent>
	</complexType>

	<element name="elem-complex-restr-complex">
			<complexType>
				<complexContent>
					<restriction base="ns:complex-base-empty" />
			</complexContent>
			</complexType>
	</element>

</schema>