testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0709_group_components/Pos_0709_group_components_002/Pos_0709_group_components_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0709_group_components_002"
  xmlns:ns="schema:Pos_0709_group_components_002">
  <group name="shipOrBill">
    <choice>
      <element name="shipTo" type="string"/>
      <element name="billTo" type="string"/>
    </choice>
  </group>
  <element name="MyType">
    <complexType>
      <group ref="ns:shipOrBill" maxOccurs="unbounded" />
    </complexType>
  </element>
</schema>
