testdata/ttcn3-conformance-tests/ATS/xml/06_built_in_data_types/0608_anytype_and_anysimpletype_types/Pos_0608_anytype_and_anysimpletype_types_007/Pos_0608_anytype_and_anysimpletype_types_007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0608_anytype_and_anysimpletype_types_007"
  xmlns:ns="schema:Pos_0608_anytype_and_anysimpletype_types_007">
	<xsd:element name='MyType' type='xsd:anyType'/>
	<xsd:element name='something' type='xsd:int'/>
	<xsd:attribute name='someattr' type='xsd:string'/>
</xsd:schema>
