testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0704_attribute_and_attribute_group_definitions/070401_attribute_element_definitions/Pos_070401_attribute_element_definitions_001/Pos_070401_attribute_element_definitions_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070401_attribute_element_definitions_001"
    xmlns:ns="schema:Pos_070401_attribute_element_definitions_001">
  <attribute name="a1" type="string"/>
  <complexType name="c1">
        <sequence>
            <element name="elem" type="string"/>
        </sequence>
        <attribute ref="ns:a1" />
    </complexType>
  <element name="e1" type="ns:c1" />
</schema>