testdata/ttcn3-conformance-tests/ATS/xml/06_built_in_data_types/0602_string_types/060208_idref/Pos_060207_idref_001/Pos_060208_idref_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_060208_idref_001"
  xmlns:ns="schema:Pos_060208_idref_001">
    <element name="test">
		<complexType>
			<sequence>
				<element name="item" type="ID" />
				<element name="itemref" type="IDREF" />
			</sequence>
		</complexType>
	</element> 
</schema>
