testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0501_namespaces/050104_attributes/Pos_050104_attributes_of_the_xsd_schema_element_003/Pos_050104_attributes_of_the_xsd_schema_element_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050104_attributes_of_the_xsd_schema_element_003"
  xmlns:ns="schema:Pos_050104_attributes_of_the_xsd_schema_element_003"
  elementFormDefault="unqualified">
	<element name="MyType">
		<complexType>
			<sequence>
				<element name="item1" type="string"/>
				<element name="item2" type="string" />
			</sequence>
		</complexType>
	</element>  
</schema>
