testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070605_choice_content/07060501_elements/Pos_07060501_choice_with_nested_elements_001/Pos_07060501_choice_with_nested_elements_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060501_choice_with_nested_elements_001"
  xmlns:ns="schema:Pos_07060501_choice_with_nested_elements_001">
  <element name="MyType">
	<complexType>
		<choice>
			<element name="foo" type="integer"/>
			<element name="bar" type="float"/>
		</choice>
	</complexType>
  </element>
</schema>
