testdata/ttcn3-conformance-tests/ATS/xml/06_built_in_data_types/0601_mapping_of_facets/060105_enumeration/Neg_060105_enumeration_004/Neg_060105_enumeration_004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Neg_060105_enumeration_004"
    xmlns:ns="schema:Neg_060105_enumeration_004">
    <element name="C">
	   <simpleType>
		  <restriction base="ns:CType" />
	   </simpleType>
    </element>

    <simpleType name="CType">
		<restriction base="string">
			<maxLength value="32" />
			<enumeration value="B2" />
			<enumeration value="UNKNOWN" />
		</restriction>
	</simpleType>

	<simpleType name="CTypeEnum">
		<restriction base="ns:CType" >
		  <enumeration value="B2" />
		</restriction>
	</simpleType>
	
	<element name="C2" type="ns:CTypeEnum"/>
</schema>