testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070605_choice_content/07060504_sequence/Pos_07060504_choice_with_nested_sequence_003/Pos_07060504_choice_with_nested_sequence_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060504_choice_with_nested_sequence_003"
  xmlns:ns="schema:Pos_07060504_choice_with_nested_sequence_003">
  <element name="MyType">
    <complexType>
      <choice>
        <element name="sequence" type="integer"/>
		<sequence>
          <element name="foo" type="integer"/>
          <element name="bar" type="string"/>
        </sequence>
        <element name="ding" type="string"/>
      </choice>
	</complexType>
  </element>
</schema>
