testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070601_simple_content/07060101_extending_simple_content/Pos_07060101_extending_simple_content_001/Pos_07060101_extending_simple_content_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060101_extending_simple_content_001" 
  xmlns:types="schema:Pos_07060101_extending_simple_content_001">

	<complexType name="e23">
		<simpleContent>
			<extension base="string">
				<attribute name="foo" type="float"/>
				<attribute name="bar" type="integer"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<element name="e23el" type="types:e23"/>
</schema>
