testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070605_choice_content/07060503_choice_with_nested_choice/Pos_07060503_choice_with_nested_choice_001/Pos_07060503_choice_with_nested_choice_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060503_choice_with_nested_choice_001"
  xmlns:ns="schema:Pos_07060503_choice_with_nested_choice_001">
  <element name="MyType">
    <complexType>
      <choice>
        <element name="choice" type="string"/>
        <choice>
          <element name="foo" type="integer"/>
          <element name="bar" type="float"/>
        </choice>
      </choice>
	</complexType>
  </element>
</schema>
