testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070606_sequence_content/07060601_sequence_with_nested_element/Pos_07060601_sequence_with_nested_element_001/Pos_07060601_sequence_with_nested_element_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060601_sequence_with_nested_element_001"
  xmlns:ns="schema:Pos_07060601_sequence_with_nested_element_001">
  <element name="MyType">
    <complexType>
      <sequence>
        <element name="foo" type="integer"/>
        <element name="bar" type="string"/>
      </sequence>
    </complexType>  
  </element>
</schema>
