testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070608_mixed_content/Neg_070608_mixed_content_005/Neg_070608_mixed_content_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Neg_070608_mixed_content_001"
  xmlns:ns="schema:Neg_070608_mixed_content_001">
  <element name="MyType">
    <complexType mixed="true">
      <all minOccurs="0">
        <element name="a" type="string"/>
        <element name="b" type="boolean"/>
      </all>
    </complexType>
  </element>
</schema>
