testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0709_group_components/Pos_0709_group_components_003/Pos_0709_group_components_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0709_group_components_003"
  xmlns:ns="schema:Pos_0709_group_components_003">
  <group name="shipAndBill">
    <all>
      <element name="shipTo" type="string"/>
      <element name="billTo" type="string"/>
    </all>
  </group>
  <element name="MyType">
    <complexType>
      <group ref="ns:shipAndBill" />
    </complexType>
  </element>
</schema>
