testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0709_group_components/Pos_0709_group_components_001/Pos_0709_group_components_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0709_group_components_001"
  xmlns:ns="schema:Pos_0709_group_components_001">
  <group name="shipAndBill">
    <sequence>
      <element name="shipTo" type="string"/>
      <element name="billTo" type="string"/>
    </sequence>
  </group>
  <element name="MyType">
    <complexType>
      <group ref="ns:shipAndBill" maxOccurs="unbounded" />
    </complexType>
  </element>
</schema>
