testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070605_choice_content/070605_top_level/Pos_070605_top_level_002/Pos_070605_top_level_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070605_top_level_002"
  xmlns:ns="schema:Pos_070605_top_level_002">
  <element name="MyType">
	<complexType>
		<choice  minOccurs="0" maxOccurs="unbounded">
			<element name="foo" type="integer"/>
			<element name="bar" type="string"/>
		</choice>
	</complexType>
  </element>
</schema>
