testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0704_attribute_and_attribute_group_definitions/070402_attribute_group_definitions/Pos_070402_attribute_group_definitions_001/Pos_070402_attribute_group_definitions_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070402_attribute_group_definitions_001"
    xmlns:ns="schema:Pos_070402_attribute_group_definitions_001">
    <attributeGroup name="Agroup">
        <attribute name="fgroup" type="float" />
        <attribute name="sgroup" type="string" />
        <attribute name="igroup" type="integer" />
    </attributeGroup>
    <complexType name="c1">
        <sequence>
            <element name="elem" type="string"/>
        </sequence>
        <attributeGroup ref="ns:Agroup" />
    </complexType>
    <element name="e1" type="ns:c1" />
</schema>