testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_009/Pos_050202_name_conversion_rules_009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_rules_009"
  xmlns:ns="schema:Pos_050202_name_conversion_rules_009">
  <element name="MyType">
    <complexType>
      <sequence>
	    <element name="中国01abc" type="integer"/>
      </sequence>
      <attribute name="中国02def" type="integer" />
    </complexType>  
  </element>  
</schema>
