testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_017/Pos_050202_name_conversion_rules_017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_rules_017"
  xmlns:ns="schema:Pos_050202_name_conversion_rules_017">
  <element name="MyType">
    <complexType>
      <sequence>
		<element name="item" type="integer"/>
	    <element name="item中国" type="integer"/>
		<element name="item日本" type="integer" />
      </sequence>      
    </complexType>  
  </element>    
</schema>
