testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070107_type/Pos_070107_type_002/Pos_070107_type_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070107_type_002"
  xmlns:ns="schema:Pos_070107_type_002">
  <complexType name="MyBase">
    <sequence>
      <element name="foo" type="string" />
      <element name="bar" type="integer" />
    </sequence>
  </complexType>
  <element name="MyType" type="ns:MyBase" />
</schema>
