testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0501_namespaces/050104_attributes/Pos_050104_attributes_of_the_xsd_schema_element_001/Pos_050104_attributes_of_the_xsd_schema_element_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050104_attributes_of_the_xsd_schema_element_001"
  xmlns="schema:Pos_050104_attributes_of_the_xsd_schema_element_001"
  elementFormDefault="qualified">
	<xs:element name="MyType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item1" type="xs:string" />
				<xs:element name="item2" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>  
</xs:schema>
