testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_004/Pos_050202_name_conversion_rules_004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_rules_004"
  xmlns:ns="schema:Pos_050202_name_conversion_rules_004">
  <element name="MyType" type="ns:_Abc." />
  <complexType name="_Abc.">
    <sequence>
		<element name="__def" type="integer"/>
    </sequence>
    <attribute name="ghi." type="integer" />
  </complexType>  
</schema>
