testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0707_any_and_anyattribute/070702_the_anyattribute_element/Pos_070702_the_anyattribute_element_006/Pos_070702_the_anyattribute_element_006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070702_the_anyattribute_element_006"
  xmlns:ns="schema:Pos_070702_the_anyattribute_element_006">
  <attribute name="foo" type="string"/>
  <attribute name="bar" type="string"/>
  <element name="MyType">
    <complexType>
      <simpleContent>
        <extension base="string">
          <anyAttribute namespace="##targetNamespace"/>
        </extension>
      </simpleContent>
    </complexType>
  </element>
</schema>
