testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070608_mixed_content/Pos_070608_mixed_content_003/Pos_070608_mixed_content_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070608_mixed_content_003"
  xmlns:ns="schema:Pos_070608_mixed_content_003">
  <element name="MyType">
    <complexType mixed="true">
      <all>
        <element name="a" type="string"/>
        <element name="b" type="boolean"/>
      </all>
      <attribute name="attrib" type="integer"/>
    </complexType>
  </element>
</schema>
