testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070106_form/Pos_070106_form_003/Pos_070106_form_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070106_form_003"
  xmlns:ns="schema:Pos_070106_form_003">
  <element name="MyType">
    <complexType>
      <sequence>
        <element name="foo">
          <complexType>
            <simpleContent>
              <extension base="integer">
                <attribute name="attr" type="string" form="qualified" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>    
</schema>
