testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070601_simple_content/07060102_restricting_simple_content/Neg_07060102_restricting_simple_content_001/Neg_07060102_restricting_simple_content_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Neg_07060102_restricting_simple_content_001"
    xmlns:ns="schema:Neg_07060102_restricting_simple_content_001">
	<complexType name="c1">
		<simpleContent>
			<extension base="string">
				<attribute name="foo" type="float"/>
				<attribute name="bar" type="integer"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="c2">
		<simpleContent>
			<restriction base="ns:c1">
				<length value="4"/>
			</restriction>
		</simpleContent>
	</complexType>

	<element name="e1" type="ns:c2"/>
</schema>