testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_014/Pos_050202_name_conversion_rules_014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_rules_014"
  xmlns:ns="schema:Pos_050202_name_conversion_rules_014">
  <element name="MyType" type="integer" />
  <element name="MyType中国" type="string" />
  <element name="MyType日本" type="float" />
</schema>
