testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070104_minoccurs_and_maxoccurs/Pos_070104_minoccurs_and_maxoccurs_002/Pos_070104_minoccurs_and_maxoccurs_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070104_minoccurs_and_maxoccurs_002"
    xmlns:ns="schema:Pos_070104_minoccurs_and_maxoccurs_002">
	<complexType name="e15a">
		<sequence> 
			<element name="foo" type="integer" minOccurs="0"/> 
			<element name="bar" type="float"/> 
		</sequence> 
	</complexType>
	<element name="ElemE15a" type="ns:e15a" />
</schema>