testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070606_sequence_content/07060604_sequence/Pos_07060604_sequence_with_nested_sequence_002/Pos_07060604_sequence_with_nested_sequence_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060604_sequence_with_nested_sequence_002"
  xmlns:ns="schema:Pos_07060604_sequence_with_nested_sequence_002">
  <element name="MyType">
    <complexType>
      <sequence>
        <sequence>
          <element name="foo" type="string"/>
          <element name="bar" type="string"/>
        </sequence>
        <choice>
          <element name="foo" type="string"/>
          <element name="bar" type="string"/>
        </choice>
        <element name="ding" type="string"/>
      </sequence>
    </complexType> 
  </element>
</schema>
