testdata/ttcn3-conformance-tests/ATS/xml/06_built_in_data_types/0608_anytype_and_anysimpletype_types/Pos_0608_anytype_and_anysimpletype_types_002/Pos_0608_anytype_and_anysimpletype_types_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0608_anytype_and_anysimpletype_types_002"
  xmlns:ns="schema:Pos_0608_anytype_and_anysimpletype_types_002">
  <attribute name="attr" type="string" />
  <element name="bar" type="string" />
  <element name="foo" type="string" />
  <element name="MyType" type="anyType" />
</schema>
