testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070111_nillable/Pos_070111_nillable_006/Pos_070111_nillable_006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070111_nillable_006"
  xmlns:ns="schema:Pos_070111_nillable_006">  
  <element name="MyType" nillable="true">
	<complexType> 
		<sequence>
			<element name="foo" type="integer"/>
		</sequence>
		<attribute name="bar" type="integer"/>
		<attribute name="content" type="integer"/>
	</complexType>
  </element>
</schema>
