testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070606_sequence_content/07060606_effect_of_minoccurs_and_maxoccurs/Pos_07060606_effect_of_minoccurs_and_maxoccurs_003/Pos_07060606_effect_of_minoccurs_and_maxoccurs_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_07060606_effect_of_minoccurs_and_maxoccurs_003"
  xmlns:ns="schema:Pos_07060606_effect_of_minoccurs_and_maxoccurs_003">
  <element name="MyType">
    <complexType>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="foo" type="string"/>
        <element name="bar" type="string"/>
      </sequence>
    </complexType>  
  </element>
</schema>
