testdata/ttcn3-conformance-tests/ATS/xml/06_built_in_data_types/0606_sequence_types/060602_idrefs/Pos_060602_idrefs_001/Pos_060602_idrefs_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_060602_idrefs_001"
  xmlns:ns="schema:Pos_060602_idrefs_001">
    <element name="test">
		<complexType>
			<sequence>
				<element name="item" type="ID" maxOccurs="unbounded"/>
				<element name="itemrefs" type="IDREFS" />
			</sequence>
		</complexType>
	</element> 
</schema>
