testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070601_simple_content/07060102_restricting_simple_content/Pos_07060102_restricting_simple_content_002/Pos_07060102_restricting_simple_content_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_07060102_restricting_simple_content_002"
    xmlns:ns="schema:Pos_07060102_restricting_simple_content_002">
	<complexType name="complex-base-simple">
		<simpleContent>
			<extension base="integer"/>
		</simpleContent>
	</complexType>

	<complexType name="complex-restr-simple">
		<simpleContent>
			<restriction base="ns:complex-base-simple"/>
		</simpleContent>
	</complexType>

	<element name="elem-complex-restr-simple">
		<complexType>
			<simpleContent>
				<restriction base="ns:complex-base-simple"/>
			</simpleContent>
		</complexType>
	</element>

</schema>
