testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0703_element_component/Pos_0703_element_component_003/Pos_0703_element_component_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0703_element_component_003"
  xmlns:ns="schema:Pos_0703_element_component_003">
  <element name="MyType">
    <complexType>
      <sequence>
        <element name="foo" type="string" />
        <element name="bar" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>
