testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070106_form/Pos_070106_form_012/Pos_070106_form_012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified"
    targetNamespace="schema:Pos_070106_form_012"
    xmlns:ns="schema:Pos_070106_form_012"
    xmlns:ns2="schema:Pos_070106_form_012_2">
  <import namespace="schema:Pos_070106_form_012_2" schemaLocation="Pos_070106_form_012_2.xsd" />
  <element name="MyElement">
	<complexType>
	   <sequence>
		    <element name="myField2" type="ns2:MyType"/>
            <element ref="ns2:MyElement"/>
	   </sequence>
        <attribute name="myField" type="integer" />
	</complexType>
  </element>
</schema>