testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070112_use/Pos_070112_use_002/Pos_070112_use_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070112_use_002"
  xmlns:ns="schema:Pos_070112_use_002">
  <element name="MyType">
    <complexType>
      <sequence>
        <element name="foo">
          <complexType>
            <simpleContent>
              <extension base="integer">
                <attribute name="attr" type="string" use="optional" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>  
</schema>
