testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_002/Pos_050202_name_conversion_rules_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_öä蓉蕻rules_002"
  xmlns:ns="schema:Pos_050202_name_conversion_öä蓉蕻rules_002">
  <element name="MyType" type="ns:Xöä蓉蕻x" />
  <complexType name="Xöä蓉蕻x">
    <sequence>
		<element name="aöä蓉蕻a" type="integer"/>
    </sequence>
    <attribute name="böä蓉蕻b" type="integer" />
  </complexType>
</schema>
