testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0706_complextype_components/070604_all_content/Pos_070604_all_content_003/Pos_070604_all_content_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070604_all_content_003"
  xmlns:ns="schema:Pos_070604_all_content_003">
  <element name="MyType">
    <complexType>
      <all>
        <element name="foo" type="integer"/>
        <element name="bar" type="float" minOccurs="0"/>
        <element name="ding" type="string"/>
      </all>
    </complexType>
  </element>
</schema>
