testdata/ttcn3-conformance-tests/ATS/xml/07_mapping_xsd_components/0701_component_attributes/070111_nillable/Pos_070111_nillable_004/Pos_070111_nillable_004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070111_nillable_004"
  xmlns:ns="schema:Pos_070111_nillable_004">  
  <element name="MyType">
	<complexType> 
		<sequence>
			<element name="foo" type="integer"/>
			<element name="bar" type="string" nillable="true"/>
		</sequence>
	</complexType>
  </element>
</schema>
