testdata/ttcn3-conformance-tests/ATS/xml/05_mapping_xml_schemas/0502_name_conversion/050202_name_conversion_rules/Pos_050202_name_conversion_rules_019/Pos_050202_name_conversion_rules_019.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_050202_name_conversion_rules_019"
  xmlns:ns="schema:Pos_050202_name_conversion_rules_019">
  <element name="MyType">
    <complexType>
      <choice>
		<element name="rnd" type="integer"/>
	    <element name="rnd中国" type="integer"/>
		<element name="rnd日本" type="integer" />
      </choice>
    </complexType>  
  </element>    
</schema>
